:root {
  --color-primary-dark-1: #5A514F;
  --color-primary-dark-2: #837572;
  --color-primary-dark-3: #A79C9A;
  --color-primary-dark-4: #CBC4C3;
  --color-primary-dark-5: #EEECEC;

  --color-gray-1: #5A5A5E;
  --color-gray-2: #939698;
  --color-gray-3: #D8D8D8;
  --color-gray-4: #F1F1F1;

  --color-bg-1: #939698;
  --color-bg-2: #F8F9FB;
  --color-bg-2: #FAFAFA;

  --color-primary-green-1: #9ABD55;
  --color-primary-green-2: #B1CC7B;
  --color-primary-green-3: #C6DAA0;
  --color-primary-green-4: #DCE8C4;
  --color-primary-green-5: #F2F6E9;

  --color-primary-blue-1: #0C2355;
  --color-primary-blue-2: #163F98;
  --color-primary-blue-3: #1F5BDB;
  --color-primary-blue-4: #5E8AE8;
  --color-primary-blue-5: #A1BBF2;
  --color-primary-blue-6: #E4EBFB;

  --color-primary-dark: #1B1C1D;

  --color-functional-red-1: #BD5555;
  --color-functional-red-2: #CC7B7B;
  --color-functional-red-3: #DAA0A0;
  --color-functional-red-4: #E8C4C4;
  --color-functional-red-5: #EFD7D7;

  --color-functional-yellow-1: #E6D57B;
  --color-functional-yellow-2: #EADB90;
  --color-functional-yellow-3: #EEE2A5;
  --color-functional-yellow-4: #F2E9BA;
  --color-functional-yellow-5: #F6F0D0;

  --color-functional-blue-1: #558BBD;
  --color-functional-blue-2: #7BA5CC;
  --color-functional-blue-3: #A0BEDA;
  --color-functional-blue-4: #C4D7E8;
  --color-functional-blue-5: #D7E4EF;

  --color-functional-purple-1: #6455BD;
  --color-functional-purple-2: #877BCC;
  --color-functional-purple-3: #A8A0DA;
  --color-functional-purple-4: #C9C4E8;
  --color-functional-purple-5: #EBE9F6;
}
